@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Colors */
  /*I named these colors the same as in Figma for easier development */
  --color-primary-blue-darkest: hsla(212, 73%, 21%, 1);
  --color-primary-blue-dark: hsla(205, 100%, 23%, 1);
  --color-blue-background: hsla(205, 87%, 36%, 1);
  --color-blue-medium: hsla(205, 64%, 49%, 1);
  --color-secondary-blue-light: hsla(208, 97%, 88%, 1);

  --color-primary-white: hsla(0, 0%, 100%, 1);

  --color-grey-dark: hsla(214, 8%, 60%, 1);
  --color-grey-light: hsla(210, 8%, 90%, 1);

  --color-yellow-darkest: hsla(47, 76%, 52%, 1);
  --color-yellow-darker: hsla(53, 84%, 47%, 1);
  --color-secondary-yellow: hsla(53, 100%, 50%, 1);

  /* Fonts */
  --font-main: var(--font-flanders-art-sans);

  /* Background Images */
  --background-image-main: url("/images/main-bg.jpg");
  --background-image-printing-houses: url("/images/printing-house.jpg");

  /* Shadcn UI Colors */
  --color-accent-foreground: var(--accent-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-card-foreground: var(--card-foreground);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
}

body {
  font-family: var(--font-main);
  background-color: var(--color-primary-blue-dark);
  color: var(--color-primary-white);
  letter-spacing: 0.8px;
}

:root {
  --foreground: oklch(0.145 0 0);
}
