@import "tailwindcss";

@theme inline {
  /* Colors */
  /*I named these colors the same as in Figma for easier development */
  --color-primary-blue-darkest: hsla(212, 73%, 21%, 1);
  --color-primary-blue-dark: hsla(205, 100%, 23%, 1);
  --color-blue-background: hsla(205, 87%, 36%, 1);
  --color-blue-medium: hsla(205, 64%, 49%, 1);
  --color-secondary-blue-light: hsla(208, 97%, 88%, 1);

  --color-primary-white: hsla(0, 0%, 100%, 1);

  --color-grey-dark: hsla(214, 8%, 60%, 1);
  --color-grey-light: hsla(210, 8%, 90%, 1);

  --color-secondary-yellow: hsla(53, 100%, 50%, 1);

  /* Fonts */
  --font-main: var(--font-flanders-art-sans);

  /* Background Images */
  --background-image-main: url("/images/main-bg.jpg");
  --background-image-printing-houses: url("/images/printing-house.jpg");
}

body {
  font-family: var(--font-main);
  background-color: var(--color-primary-blue-dark);
  color: var(--color-primary-white);
}
